<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Reset Password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='resetPassword.css'> -->
    <!-- <link rel="stylesheet" type="text/css" href="/views/resetPassword/resetPassword.css"> -->
    <!-- <script src="./resetPassword.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" defer>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous" defer></script>
</head>
<body style="background-color: lightsteelblue;opacity: 80%;;">
    <header>
        <h2 class=" resetPassword " style="font-family: sans-serif;text-align: center;padding-top: 0.5rem;opacity: 70%;color: black;">Reset Password</h2>
    </header><br>
    <section class="container">
        <form id="my-form" action="/password/updatepassword/" method="post" class="form-control bg-body-tertiary">
            <label for="passwordAdd" class="form-label">Enter New Password : </label>
            <input type="password" name="passwordAdd" id="passwordAdd" class="form-control" placeholder="Enter new password" required><br><br>
            <input class="btn btn-outline-primary" type="submit" value="Reset Password">
        </form>

    </section>
    <!-- <script src="resetPassword.js" defer></script> -->
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js" defer></script>
    <script>
        let myForm = document.querySelector('#my-form')
        let passwordInput = document.querySelector('#passwordAdd')

        myForm.addEventListener("submit",saveToStorage)

        function saveToStorage(e) {

            console.log("INSIDE UPDATE FUNCTION")
            e.preventDefault();
            console.log(window.location.pathname)
            const resetID = window.location.pathname.split("/").pop();
            console.log(resetID)
            let passwordAdd = passwordInput.value;
    
            let obj = {passwordAdd}
            axios
            .post(`http://localhost:8000 /password/updatepassword/${resetID}`,obj,)
            .then(response =>{
            console.log(response.data)
            alert("Password Reset Successfully");
            })
            .catch((error) => {
                document.body.innerHTML =
                document.body.innerHTML + "<h3> Something Went Wrong </h3>";
                console.log(error);
            })

            myForm.reset()
        }
</script>
    
</body>
</html>